<div id="sidebar">
  <img src='{{ site.baseurl }}/images/me.jpg' width='90%' height='110%'/>
  <header>
    <{% if page.layout == "index" %}h6{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h6{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header> 
  {% include sidebar-nav-links.html %}
    {% comment %}
    {% if site.version %}
      <!-- <span class="site-version">Currently v{{ site.version }}</span> -->
    {% endif %} 
    {% endcomment %}   
  {% include sidebar-icon-links.html %} 
  <span><p>Email:<br/><a href="mailto:mail@pramodmurthy.com?subject=Hey ! You there ... &body=Hi Pramod, %0A%0A   I would like to get in touch with you ! %0A%0A -  YOUR_NAME "> mail@pramodmurthy.com</a></p></span>
  {% include copyright.html %}

</div>