---
layout: default
---
<header>
  <h1 class="page-title">{{ page.title }}</h1>
</header>
<div class="content">
  
  {{ content }}
<p/>
<br>
<br>
<br>
<br>
उत्तिष्ठत जाग्रत प्राप्य वरान्निबोधत । <br>
क्षुरस्य धारा निशिता दुरत्यया दुर्गं पथस्तत्कवयो वदन्ति ॥ १४ ॥ <br><br>
Arise, awake; having reached the great, learn;<br>Like the sharp edge of a razor is that path,
so the wise say−hard to tread and difficult to cross. <br><br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~ KathaUpanishad(Verse 1.3.14)
<p/>
</div>
<!-- 
<div class="content">
  {% include pagination-newer.html %}

  {{ content }}

  {% for post in paginator.posts %}
  <article class="post-body">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    {% include post-meta.html post=post %}

    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if content_words != excerpt_words %}
        <a href="{{ site.baseurl }}{{ post.url }}">More &hellip;</a>
      {% endif %}
    {% endif %}
  </article>
  {% endfor %}
   {% include pagination-older.html %}
</div>
   
